site_name: Diffusion Based Crystal Structure Inpainting (DBCSI)
site_description: Documentation for DBCSI Inpainting project
site_author: Timo Reents

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - toc.integrate
    - search.suggest
    - search.highlight
    - content.code.copy
  palette:
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

docs_dir: docs

plugins:
  - search
  - mkdocs-jupyter:
      include_source: True
      execute: False
      include: ["*.ipynb"]
      ignore: ["**/.ipynb_checkpoints/*"]

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - pymdownx.details
  - pymdownx.tabbed:
      alternate_style: true

nav:
  - Home: index.md
  - Examples:
      - Running with AiiDA: examples/running-with-AiiDA.ipynb
      - Running without AiiDA: examples/running-wo-AiiDA.ipynb

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/t-reents/dbcsi
