[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "dbcsi-inpainting"
version = "0.1.0"
description = "Diffusion based crystal structure inpainting"
authors = [{ name = "Timo Reents", email = "timo.reents@psi.ch" }]
license = { file = "LICENSE" }
readme = "README.md"
requires-python = ">=3.10"
dependencies = [] 

# To-Do: add dependencies as needed

[project.optional-dependencies]
dev = [
    "pre-commit",
    "black",
    "isort",
    "flake8",
    "pydocstyle",
]


[tool.setuptools]
packages = ["dbcsi_inpainting"]
package-dir = {"" = "src"}

# Black configuration
[tool.black]
line-length = 79
target-version = ['py39']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
)/
'''

# isort configuration
[tool.isort]
profile = "black"
multi_line_output = 3
line_length = 79
known_first_party = ["dbcsi_inpainting"]
known_third_party = ["numpy", "torch", "pymatgen", "mattergen"]

# pydocstyle configuration
[tool.pydocstyle]
convention = "google"
inherit = false
ignore = [
    "D100",  # Missing docstring in public module
    "D104",  # Missing docstring in public package
    "D105",  # Missing docstring in magic method
    "D107",  # Missing docstring in __init__
]