.md-header__button.md-logo img {
  height: 80px;   /* ← change this */
  width: auto;
}

.md-header__title .md-header__topic {
  font-size: 2rem;   /* ← change this */
  font-weight: 600;    /* optional */
  align-items: center;
  padding-top: 5px;   /* try ±2–4px */
}