name: CI

on: [push, pull_request]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v6
      with:
        python-version: '3.10'

    - name: Install the project
      run: uv sync --locked --all-extras --dev

    - name: Run pre-commit hooks
      id: pre_commit
      run: |
        uv run pre-commit run --all-files

  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']

    services:
        postgres:
            image: postgres:12
        rabbitmq:
            image: rabbitmq:latest
            ports:
            -   5672:5672

    steps:
    - uses: actions/checkout@v4

    - name: Install uv and set the Python version
      uses: astral-sh/setup-uv@v6
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install the project
      run: uv sync --locked --all-extras --dev

    - name: Run tests with pytest
      run: |
        uv run pytest
